:root {
    --main-bg-color: #1DA1F2;
}

.button{
    padding: 1em;
    background-color: var(--main-bg-color);
    color: white;
    font-weight: bold;
    outline: none;
    border: 1px solid var(--main-bg-color);
    border-radius: 4px;
    cursor: pointer;
}