.Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d7f5f5;
    padding: 0 15%;
}

.Footer h1{
    color: var(--main-bg-color);
    font-style: italic;
}